<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>
    Calculadora:
  </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-label position="floating">Valor 1:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor 2:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
  <ion-button color="ligh" fill="solid">+</ion-button>
  <ion-button  color="ligh" fill="solid">-</ion-button>
  <ion-button  color="ligh"  fill="solid">*</ion-button>
  <ion-button   color="ligh" fill="solid">/</ion-button>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-button  color="ligh">Maior</ion-button>
    <ion-button  color="ligh" >Menor</ion-button>
  </ion-row>
</ion-grid>



<ion-item>
  <ion-label>
  <h1>
    Resultado:
  </h1>
  </ion-label>
</ion-item>

<ion-item>
  <ion-label>
    <h1>
    Operação:
  </h1>
  </ion-label>
</ion-item>
</ion-content>
